div .app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 90%;
  margin: 0 auto;
  color: #222;
}

header {
  flex-basis: 30vh;
}

main {
  display: flex;
  padding: 30px 0;
  flex-grow: 1;
}

aside {
  min-width: 240px;
}

section.page {
  flex-grow: 1;
}

footer {
  padding: 10px 0;
  background-color: #000;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
