nav.main {
  padding: 0 30px 30px 0;
}

ul {
  list-style-type: none;
}

nav.main a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.2s;
}

nav.main a:hover {
  transform: translateX(20px);
}

nav.main a.active {
  border-left: 10px grey solid;
  transform: translateX(0);
}

nav.main li:nth-child(1) a.active {
  border-left-color: green;
}
nav.main li:nth-child(2) a.active {
  border-left-color: royalblue;
}
nav.main li:nth-child(3) a.active {
  border-left-color: rebeccapurple;
}
nav.main li:nth-child(4) a.active {
  border-left-color: tomato;
}
