* {
    margin: 0;
    padding: 0;
}

/* do 359px */

p {
    line-height: 100vh;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-family: arial;
    padding: 0 5%;
}

/* od 360px */

@media(min-width: 360px) {
    p {
        font-size: 24px;
        color: red;
    }
}

@media(min-width: 411px) {
    p {
        font-size: 28px;
        color: blue;
    }
}

@media(min-width: 700px) {
    p {
        font-size: 32px;
        color: green;
    }
}


@media(min-width: 1024px) {
    p {
        font-size: 50px;
        color: blue;
    }
}


@media(min-width: 1440px) {
    p {
        font-size: 80px;
        color: blue;
    }
}

@media (orientation: portrait) {
    body {
        background-color: aqua;
    }
}

@media (orientation: landscape) and (min-width: 640px) {
    body {
        background-color: orangered;
    }
}
