* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.board {
    position: relative;
    top: 50px;
    left: 50px;
    height: 400px;
    width: 400px;
    border: 4px solid black;
}

span {
    position: absolute;
    background-color: red;
    height: 50%;
    width: 50%;
}

.first {
    top: 0;
    left: 0;
}

.second {
    bottom: 0;
    right: 0;
}
