* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 200vh;
}

.menu_ico {
    position: fixed;
    right: 50px;
    top: 30px;
    font-size: 40px;
    color: gray;
}

.menu_ico:hover {
    color: black;
    cursor: pointer;
}
