* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

nav {
    padding: 0 0 0 5%;
    background-color: #343A40;

    margin-bottom: 40px;
}

ul {
    max-width: 1280px;
    margin: 0 auto;
    list-style: none;
}

li {
    float: left;
}

a {
    display: block;
    padding: 24.5px 40px;
    /*        line-height: 70px;*/
    border-right: 2px solid black;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    color: #bbb;
    text-decoration: none;
}

a:hover {
    color: white;
}

li:nth-child(5) a {
    border-style: none;
}

i {
    padding-right: 10px;
    vertical-align: -2px;
    font-size: 24px;
}
