* {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

p {
    line-height: 100vh;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 5vh;
    font-family: 'Open Sans Condensed', sans-serif;

}
