* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: verdana, sans-serif;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

header div {

    width: 19%;
    height: 100px;
    margin: 3%;
    float: left;
    background-color: royalblue;

}

header div:nth-child(1) {
    background-color: greenyellow;
}

header div:nth-child(2) {
    background-color: brown;
}

header div:nth-child(3) {
    background-color: orangered;
}

header div:nth-child(4) {
    background-color: palevioletred;
}

header div:nth-child(1):hover {
    background-color: fuchsia;
}

header div:nth-child(2):hover {
    background-color: gold;
}

header div:nth-child(3):hover {
    background-color: seagreen;
}

header div:nth-child(4):hover {
    background-color: turquoise;
}

nav {
    background-color: black;
    padding: 10px 0 10px 50px;
    margin: 20px 0;
}

nav ul {
    list-style: none;
    max-width: 1024px;
    margin: 0 auto;
}

nav ul li {
    float: left;
    width: 20%;
    margin: 0 10px;
}

nav ul li a {
    display: block;
    padding 10px 30px;
    border: 2px solid white;
    font-size: 26px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

nav ul li a:hover {
    background-color: gray;
    color: yellow;
    border-color: yellow;
}

div main {
    float: left;
    width: 65%;
    padding: 0px 20px 0 20px;

}

div.blog {
    margin-top: 40px;
    max-width: 1024px;
    margin: 0 auto;
}

article h1 {
    text-transform: uppercase;
}

article img {
    width: 200px;
    float: left;
    margin: 20px 20px 20px 0;
}

article p {
    margin-top: 20px;
}

div aside {
    float: left;
    width: 30%;
}

section.contact {
    background-color: #ddd;
    padding: 15px;
}

section.contact p {
    margin-bottom: 24px;
    font-weight: bold;
}

section.contact li i {

    margin-right: 20px;
}

section.contact ul {
    list-style: none;
}

section.contact li {
    margin: 10px 0;
}

footer {
    background-color: #444;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}
