.burger {
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 40px;
    transition: .4s;
}

.burger:hover {
    cursor: pointer;
}

aside {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -300px;
    width: 300px;
    background-color: #000;
    transition: .3s ease;
}

.fas {
    display: none;
}

i.show {
    display: block;
}

aside.show {
    left: 0;
}