* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #000;
}

ul {
  display: flex;
  list-style-type: none;
}

li {
  flex-grow: 1;
}

a {
  display: block;
  font-family: arial;
  color: #fff;
  text-align: center;
  padding: 15px 25px;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 4px solid black;
}

a:hover {
  color: yellow;
}

section {
  padding-top: 30px;
  text-align: center;
}

.home_selected {
  border-bottom-color: yellow;
}
.news_selected {
  border-bottom-color: orange;
}
.contact_selected {
  border-bottom-color: red;
}
