body {
    min-height: 200vh;
}

.wrapper {
    margin: 10px 70px;
}

.wrapper p {
    font-size: 18px;
    line-height: 200%;
    font-family: arial;
}

.burger {
    position: fixed;
    z-index: 1;
    top: 30px;
    right: 30px;
    font-size: 30px;
    color: gray;
    cursor: pointer;
}

i.off {
    display: none;
}

nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 30vh;
    background-color: #000;
    transition: .3s;
}

nav.off {
    top: -300px;
}