form {
  margin: 20px;
}
label {
  display: block;
}

input {
  margin-left: 20px;
  margin-top: 20px;
}

input[type="checkbox"] {
  margin-left: 0;
}
button {
  margin-top: 10px;
  display: block;
}
span {
  color: red;
  font-size: 10px;
}
