body {
    background-color: rgb(255, 0, 0);
}

div {
    font-size: 60px;
    color: white;
}

div.s1 {
    display: block;
}

div.s2 {
    display: none;
}

div.s3 {
    display: none;
}

@media (max-width: 1600px) {
    body {
        background-color: rgb(255, 255, 0);
    }
    div.s1 {
        display: none;
    }

    div.s2 {
        display: block;
    }

}

@media (max-width: 1024px) {
    body {
        background-color: rgb(200, 50, 50);
    }
}

@media (max-width: 768px) {


    div.s2 {
        display: none;
    }

    div.s3 {
        display: block;
    }
}
