@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin-ext');

/*  font-family: 'Roboto', sans-serif;  */

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: #333;
    padding-left: 20px;
    border-bottom: 4px solid royalblue;
}

nav a {
    display: inline-block;
    color: #fff;
    font-size: 22px;
    text-decoration: none;
    padding: 20px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav a:hover {
    color: orange;
}

header {
    height: 40vh;
    background-image: url(img/molo.jpg);
    background-position: center;
    background-size: cover;
}
