/*
    font-family: 'Roboto', sans-serif;
    font-family: 'Oswald', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    /*    box-sizing: border-box;*/
}

html {
    font-size: 10px;
    font-family: 'Oswald', sans-serif;
}

/*Nawigacja*/

nav {
    max-width: 1440px;
    margin: 30px auto;
    text-align: right;
    /*    padding-right: 100px;*/
}

nav a {
    display: inline-block;
    font-family: roboto, sans-serif;
    font-size: 1.8rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #555;
    padding: 10px;
    margin: 0 20px;
}

nav a.reservation {
    font-size: 2.2rem;
    border: 2px solid #555;
    padding: 10px 30px;
    letter-spacing: 1px;
    margin-right: 50px;
    margin-left: 80px;
    transition: .2s;

}

nav a:hover {
    border-bottom: 2px solid #555;
    color: #000;
}

nav a.reservation:hover {
    background-color: royalblue;
    color: #eee;
    border-color: royalblue;
}

/*Header*/

header {
    height: 40vh;
    background-image: url(img/auto1.jpg);
    background-size: cover;
}

header h1 {
    font-size: 6rem;
    color: white;
    text-align: center;
    line-height: 40vh;
    background-color: rgba(0, 0, 0, 0.5);
}

/*Main*/

main {
    max-width: 1440px;
    margin: 5vh auto;
    font-size: 0;
}

main p.description {
    font-size: 2.2rem;
    text-align: center;
    margin: 0 30px 50px 30px;
    line-height: 180%;
}

main div.feature {
    display: inline-block;
    width: 33.33%;
}

main div.image {
    height: 200px;
    background-image: url(img/auto2.jpg);
    background-size: cover;
    margin: 20px 30px;
}

main h2 {
    font-size: 2rem;
    text-align: center;
    color: #222;
}

main div.image:hover {

    background-color: rgba(0, 0, 0, 0.8);
}

/*Footer*/

footer {
    background-color: #000;
}

footer p {
    color: #fff;
    text-align: center;
    padding: 2rem 0;
    font-size: 2rem;
}
