.burger {
    position: absolute;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    top: 40px;
    right: 40px;
    font-size: 40px;
    font-family: arial;
    border-radius: 50%;
    border: 2px solid black;
    transition: .4s;
}

.burger.active {
    transform: rotate(405deg);
}

.burger:hover {
    cursor: pointer;
    background-color: #000;
    color: white;
}

aside {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -300px;
    width: 300px;
    background-color: #000;
    transition: .3s ease;
}

.burger.active+aside {
    left: 0px;
}