* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #666;
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
}

nav ul {
    padding: 30px 0;
    max-width: 1024px;
    margin: 0 auto;
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    box-sizing: border-box;
    display: block;
    margin-right: 30px;
    padding: 10px;
    width: 180px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-family: arial;
    text-decoration: none;
    border: 1px solid #fff;
}

nav ul li a:hover {
    color: chartreuse;
    border: 1px solid chartreuse;
}

section {
    height: 30vw;
    background-color: rgb(220, 220, 220);
}
