* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrap {
    max-width: 1280px;
    margin: 0 auto;
    overflow: hidden;
}

nav.desktop,
header,
.wrap {
    height: 360px;
}

nav.desktop {
    float: left;
    width: 300px;
}

nav ul {
    list-style: none;
}

nav.desktop a {
    display: block;
    line-height: 72px;
    font-size: 22px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: arial;
    padding: 0 5px 0 30px;
}

nav.desktop i {
    width: 50px;
    margin-right: 30px;
    border-right: solid black 2px;
    transition: 0.3s;
}

nav a:hover i {
    margin-right: 50px;
}

header {
    float: left;
    width: calc(100% - 300px);
    background-image: url("pianino.jpg");
    background-size: cover;
    background-position: center;
}

section {
    margin-top: 50px;
}

section h1 {
    font-size: 40px;
    font-family: arial;
    background-color: #222;
    color: white;
    padding: 15px 0;
    text-align: center;
}

nav.mobile {
    display: none;
}

@media(max-width: 1024px) {
    nav.desktop {
        display: none;
    }
    nav.mobile {
        position: fixed;
        display: block;
        width: 72px;
        height: 100%;
        background-color: #000;
        color: white;
    }
    nav.mobile a {
        display: block;
        line-height: 10vh;
        color: white;
        font-size: 30px;
        text-align: center;
    }
    nav.mobile li:nth-child(1) a {
        color: royalblue;
    }
    header {
        width: 100%;
    }
}