/*
    font-family: 'Saira', sans-serif;

    font-family: 'Saira Condensed', sans-serif;
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

header {
    position: relative;
    height: 90vh;
    background-color: #29a6dc;
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;
}

header div.welcome {
    z-index: 1;
    position: absolute;
    top: 7%;
    left: 5%;
    right: 5%;
    font-family: 'Saira Condensed', sans-serif;
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

header h1 {
    margin-top: 15px;
    font-size: 20px;
}

header h2 {
    font-size: 20px;
    font-weight: normal;
}

header button {
    font-family: 'Saira', sans-serif;
    font-weight: 300;
    line-height: 32px;
    padding: 0 20px;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    font-size: 12px;
    border: 2px solid white;
}

header img {
    position: absolute;
    height: 50%;
    bottom: 0;
    right: 0;
}

@media (orientation: portrait) and (min-width: 321px) {
    header h1 {
        font-size: 24px;
    }
    header h2 {
        font-size: 24px;
    }
    header button {
        margin-top: 24px;
        line-height: 40px;
        font-size: 16px;
    }
}

@media (orientation: portrait) and (min-width: 361px) {
    header h1 {
        font-size: 26px;
    }
    header h2 {
        font-size: 26px;
    }
    header button {
        margin-top: 40px;
        line-height: 50px;
        font-size: 20px;
    }
    header img {
        right: -20%;
    }
}

@media (orientation: portrait) and (min-width: 768px) {
    header p {
        font-size: 80px;
    }

    header h1 {
        font-size: 32px;
    }
    header h2 {
        font-size: 32px;
    }
    header button {
        margin-top: 60px;
        line-height: 60px;
        font-size: 24px;
    }
    header img {
        right: -15%;
    }
}

@media (orientation: portrait) and (min-width: 1024px) {
    header p {
        font-size: 100px;
    }

    header h1 {
        font-size: 50px;
    }
    header h2 {
        font-size: 50px;
    }
    header button {
        margin-top: 70px;
        line-height: 80px;
        font-size: 38px;
    }
    header img {
        right: -15%;
    }
}

@media (orientation: landscape) {

    header img {
        position: absolute;
        height: 80%;
        bottom: 0;
        right: -10%;
    }

    header div.welcome {
        top: 15%;
        left: 5%;
        right: 46%;
    }

    header button {
        margin-top: 40px;
    }
}

@media (orientation: landscape) and (min-width: 640px) {
    header h1 {
        font-size: 24px;
    }
    header h2 {
        font-size: 24px;
    }

    header button {
        font-size: 16px;
        line-height: 40px;
    }
}

@media (orientation: landscape) and (min-width: 768px) {
    header div.welcome {
        left: 3%;
    }

    header p {
        font-size: 56px;
    }

    header h1 {
        margin-top: 40px;
        font-size: 34px;
    }
    header h2 {
        font-size: 34px;
    }
    header button {
        margin-top: 80px;
        line-height: 70px;
        font-size: 28px;
    }
    header img {
        right: -22%;
        height: 95%;
    }
}

@media (orientation: landscape) and (min-width: 1024px) {
    header div.welcome {
        left: 3%;
    }

    header p {
        font-size: 56px;
    }

    header h1 {
        margin-top: 40px;
        font-size: 34px;
    }
    header h2 {
        font-size: 34px;
    }
    header button {
        margin-top: 80px;
        line-height: 70px;
        font-size: 28px;
    }
    header img {
        right: -22%;
        height: 85%;
    }
}

@media (orientation: landscape) and (min-width: 1280px) {
    header div.welcome {
        text-align: left;
        left: 6%;
    }
    header p {
        font-size: 100px;
    }

    header h1 {
        margin-top: 40px;
        font-size: 50px;
    }
    header h2 {
        font-size: 50px;
    }
    header button {
        margin-top: 100px;
        line-height: 80px;
        font-size: 38px;
        padding: 0 40px;
        border: 2px solid white;
    }
    header img {
        right: -22%;
        height: 85%;
    }
}

@media (orientation: landscape) and (min-width: 1600px) {
    header div.welcome {
        left: 6%;
        text-align: left;
    }

    header p {
        font-size: 120px;
    }

    header h1 {
        margin-top: 40px;
        font-size: 60px;
    }
    header h2 {
        font-size: 60px;
    }
    header button {
        margin-top: 80px;
        line-height: 90px;
        font-size: 30px;
    }
    header img {
        right: -22%;
        height: 95%;
    }
}

@media(orientation: landscape) and (min-width: 1024px) {
    header div.welcome {
        left: 10%;
    }
    header button {
        cursor: pointer;
        transition: 0.2s;
    }
    header button:hover {
        background-color: #fff;
        color: #111;
    }
    header img {
        right: -8%;
        height: 95%;
    }
}



/* sekcja1 cechy */

.features {
    max-width: 1600px;
    margin: 50px auto 0;
    padding: 5%;
    text-align: center;
}

.features h1 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.features img {
    margin: 5px 0;
    width: 100%;
    max-width: 375px;
}

.features h2 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
}

.features p {
    margin: 20px 0;
    font-family: 'Saira', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
}

@media (min-width: 360px) {
    .features h1 {
        font-size: 28px;
    }
    .features h2 {
        font-size: 24px;
    }
    .features p {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    .features h1 {
        font-size: 36px;
    }
    .features h2 {
        font-size: 28px;
    }
    .features p {
        font-size: 18px;
    }
}

@media (min-width: 1024px) {
    .features {
        margin-top: 5%;
        padding: 5% 2%;
        text-align: center;
    }
    .feature {
        float: left;
        width: 33%;
        padding: 20px;
    }
    .features h1 {
        font-size: 36px;
    }
    .features h2 {
        font-size: 22px;
    }
    .features p {
        line-height: 120%;
        font-size: 16px;
        padding: 0 10px;
    }
}

@media (min-width: 1600px) {
    .feature {
        padding: 20px 40px;
    }
    .features h1 {
        font-size: 60px;
    }
    .features h2 {
        font-size: 34px;
    }
    .features p {
        line-height: 160%;
        font-size: 20px;
        padding: 0 10px;
    }
}

.portfolio {
    background-color: #000;
    padding: 10px 0 30px 0;
}

.portfolio .project {
    max-width: 1600px;
    margin: 0 auto 20px;
}

.portfolio h1 {
    font-size: 28px;
    font-family: 'Saira Condensed', sans-serif;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 15px;
}

.portfolio .web img {
    width: 100%;
}

.portfolio .about {
    font-family: 'Saira', sans-serif;
    font-weight: 400;
    color: #fff;
    padding: 10px 20px 20px 0px;
    text-align: left;
}

.portfolio .about p {
    font-size: 12px;
    padding-left: 20px;
}

.portfolio .about h2 {
    text-indent: 20px;
    font-size: 18px;
    border-bottom: 2px solid white;
    margin-bottom: 12px;
    padding-bottom: 6px;
}

.portfolio .project:nth-of-type(odd) {
    background-color: #ff4f2c;
}

.portfolio .project:nth-of-type(even) {
    background-color: #29a6dc;
}

@media (min-width: 768px) {
    .portfolio h1 {
        font-size: 40px;
    }
    .portfolio .about p {
        font-size: 18px;
        padding-left: 40px;
    }

    .portfolio .about h2 {
        text-indent: 40px;
        font-size: 28px;
        border-bottom: 2px solid white;
        margin-bottom: 12px;
        padding-bottom: 6px;
    }
    .portfolio .project {
        margin-bottom: 40px;
    }
}

@media (orientation: landscape) {
    .web,
    .about {
        width: 50%;
        float: left;
    }
    .web img {
        display: block;
    }
    .portfolio .project:nth-of-type(even) .web {
        float: right;
    }
    .portfolio .project:nth-of-type(even) .about {
        padding-right: 0;
    }
    .portfolio .project:nth-of-type(even) .about p {
        padding-right: 20px;
    }
    .portfolio .project:nth-of-type(even) .about h2 {
        text-indent: 0;
        margin-left: 40px
    }
}

@media (orientation: landscape) and (min-width: 1024px) {}

@media (orientation: landscape) and (min-width: 1400px) {
    .portfolio h1 {
        font-size: 60px;
        padding: 30px 0;
    }
    .portfolio .about p {
        font-size: 18px;
        padding-left: 40px;
        line-height: 180%
    }

    .portfolio .about h2 {
        font-size: 28px;
        margin-bottom: 50px;
        padding-top: 50px;
    }
    .portfolio .project {
        margin-bottom: 40px;
    }
}

/*sekcja slogan*/

.slogan {
    text-align: center;
    background-image: url(../images/motto.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

.slogan h1 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.slogan p.text {
    font-family: 'Saira', sans-serif;
    font-size: 18px;
}

.slogan p.autor {
    margin-top: 20px;
    font-size: 12px;
}

.slogan .bg {
    padding: 30px 10px;
    background-color: rgba(0, 63, 114, 0.5);
}

@media (orientation: landscape) {
    .slogan p {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(min-width: 768px) {
    .slogan .bg {
        padding: 40px 10px;
    }
    .slogan h1 {
        font-size: 48px;
        margin-bottom: 35px;
    }

    .slogan p.text {
        font-size: 26px;
        width: 65%;
        margin: 0 auto;
    }

    .slogan p.autor {
        margin-top: 35px;
        font-size: 18px;
    }

}

@media(min-width: 1024px) {
    .slogan .bg {
        padding: 80px 10px;
    }
    .slogan h1 {
        font-size: 60px;
        margin-bottom: 55px;
    }

    .slogan p.text {
        font-size: 40px;
        width: 65%;
        margin: 0 auto;
    }

    .slogan p.autor {
        margin-top: 35px;
        font-size: 26px;
    }

}

/*sekcja hobby*/

.hobby {
    max-width: 1920px;
    margin: 0 auto;
}

.hobby .item {
    height: 25vh;
    background-position: center;
    background-repeat: no-repeat;
}

.hobby .item:nth-of-type(1) {
    background-image: url(../images/hobby1.jpg);
}

.hobby .item:nth-of-type(2) {
    background-image: url(../images/hobby2.jpg);
}

.hobby .item:nth-of-type(3) {
    background-image: url(../images/hobby3.jpg);
}

.hobby .item:nth-of-type(4) {
    background-image: url(../images/hobby4.jpg);
}

.hobby .item p {
    font-family: 'Saira', sans-serif;
    color: white;
    text-align: center;
    /*    line-height: 25vh;*/
    text-shadow: 0 0 4px #000;
    background-color: rgba(0, 0, 0, .3);
    font-size: 20px;
    padding: 5px 0;
}

.hobby h1 {
    padding: 20px;
    font-family: 'Saira condensed', sans-serif;
    text-align: center;
    font-size: 27px;
    text-transform: uppercase;
}

@media(min-width: 533px) {
    .hobby .item {
        float: left;
        width: 50%;
        height: 40vh;
        background-position: center;
        background-repeat: no-repeat;
    }
}

@media (min-width: 768px) {
    .hobby h1 {
        font-size: 48px;
        margin-top: 40px;
        margin-bottom: 35px;
    }

    .hobby .item p {
        font-size: 30px;
        padding: 15px 0;
    }
}

@media (min-width: 1024px) {

    .hobby .item p {
        padding: 0;
        line-height: 40vh;
        opacity: 0;
        transition: 0.6s;
        cursor: default;
    }
    .hobby .item:hover p {
        opacity: 1;
    }

    .hobby .item {
        background-size: 100%;
        transition: 0.6s;
    }

    .hobby .item:hover {
        background-size: 130%;
    }
}

@media (min-width: 1600px) {
    .hobby h1 {
        font-size: 60px;
        margin-top: 50px;
        margin-bottom: 45px;
    }

    .hobby .item p {
        font-size: 40px;
    }
}

/*sekcja kontakt*/

.contact {
    background-color: #000;
    padding: 30px 20px;
}

.contact h1 {
    font-family: 'Saira Condensed', sans-serif;
    color: white;
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 15px;

}

.contact .wrap {
    padding-top: 20px;
    max-width: 1024px;
    margin: 0 auto;
}

.contact input,
.contact button,
.contact textarea {
    width: 100%;
    margin-bottom: 25px;
    font-family: 'Saira', sans-serif;
    padding: 5px;
    font-size: 12px;
}

.contact input {
    height: 36px;
}

.contact textarea {
    height: 120px;
}

.contact button {
    font-size: 14px;
    line-height: 40px;
    background-color: black;
    color: white;
    border: 2px solid white;
    text-transform: uppercase;
}

.contact .socials {
    padding-top: 30px;
    font-size: 0;
}

.contact .social {
    padding-top: 10px 0;
    font-family: 'Saira Condensed', sans-serif;
    color: white;
}

.contact .socials img {
    float: left;
}

.contact .social span {
    float: left;
    padding-left: 20px;
    line-height: 72px;
    font-size: 20px;
}

@media (min-width: 533px) {
    .contact .social {
        display: inline-block;
        width: 50%;
        margin: 10px 0;
    }
}

@media (min-width: 1024px) {
    .contact h1 {
        font-size: 60px;
        padding: 30px 0;
    }
    .contact form,
    .contact .socials {
        float: left;
        width: 50%;
        padding: 0 20px;
    }

    .contact .social {
        display: block;
        width: 50%;
        margin: 10px auto;
    }
    .contact input,
    .contact button,
    .contact textarea {
        margin-bottom: 35px;
    }
    .contact input {
        height: 46px;
        font-size: 24px;
    }

    .contact textarea {
        font-size: 24px;
        height: 180px;
    }

    .contact button {
        font-size: 20px;
        line-height: 50px;
        background-color: black;
        color: white;
        border: 2px solid white;
        text-transform: uppercase;
        transition: 0.3s;
        cursor: pointer;
    }

    .contact button:hover {
        color: black;
        background-color: #fff;
    }
}

/*footer*/

footer {
    background-color: #29a6dc;
    color: white;
    font-family: 'Saira condensed', sans-serif;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
}
