* {
    margin: 0;
    padding: 0;
}

nav{

}

nav div.logo{
    width: 20vw;
    padding-right: 10vw;
    height: 40px;
    background-color: brown;
    float: left;

}

nav ul{
    width: 70vw;
    height: 40px;
    background-color: darkcyan;
    float: left;
    list-style: none;
}

nav ul li{
    float: left;
    width: 25%;
}

nav ul li a{
    display: block;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: arial;
    transition: .2s;
}

nav ul li a:hover{
    font-size: 26px;
}
