body {
    margin: 10px 70px;
    min-height: 150vh;
}

.wrapper {
    font-size: 16px;
}

.arrow {
    position: fixed;
    bottom: 50px;
    right: 30px;
    font-size: 30px;
    cursor: pointer;
    transition: .3s;
}

.arrow.on {
    transform: rotate(180deg);
    bottom: 325px;
}

nav {
    position: fixed;
    bottom: 0px;
    height: 30px;
    left: 0;
    right: 0;
    background-color: #000;
    transition: .3s;
}

nav.on {
    height: 300px;
}