* {
    padding: 0;
    margin: 0;
}

.bg {
    background-color: #ddd;
    height: 100vh;
    transition: 0.5s;
}

.bg p {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 100vh;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    opacity: 0;
    transition: 0.5s;
}

.circle {
    position: fixed;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    z-index: 1;
}

div.red {
    top: 30px;
    left: 30px;
    background-color: red;
}

div.green {
    right: 30px;
    top: 30px;
    background-color: green;
}

div.blue {
    bottom: 30px;
    left: 30px;
    background-color: blue;
}

div.orange {
    bottom: 30px;
    right: 30px;
    background-color: orange;
}

div.red:hover~.bg {
    background-color: red;
}

div.green:hover~.bg {
    background-color: green;
}

div.blue:hover~.bg {
    background-color: blue;
}

div.orange:hover~.bg {
    background-color: orange;
}

div.red:hover~div.bg p.red,
div.green:hover~div.bg p.green,
div.blue:hover~div.bg p.blue,
div.orange:hover~div.bg p.orange {
    opacity: 1;
}