a {
    display: inline-block;
    width: 260px;
    box-sizing: border-box;

    text-decoration: none;

    background-color: #000;
    font-size: 24px;
    color: orange;
    font-family: arial;
    text-align: center;
    text-transform: uppercase;

    padding: 20px 0 20px 0;
    margin: 20px 15px 0 15px;
    border: 3px solid orange;
    transition: 5s;
}

a:hover {
    background-color: #333;
    color: #fff;
    border-color: #000;
}
