* {
    margin: 0;
    padding: 0;
}

div.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

/*Nawigacja*/

nav {
    font-size: 0;
}

nav a {
    display: inline-block;
    box-sizing: border-box;
    width: 25%;
    height: 40px;
    background-color: gray;
    font-size: 18px;
    font-family: arial;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    line-height: 40px;
    /*    padding: 10px 0;*/
}



nav a.btn1 {
    background-color: burlywood;
}

nav a.btn2 {
    background-color: deepskyblue;
}

nav a.btn3 {
    background-color: darkcyan;
}

nav a.btn4 {
    background-color: royalblue;
}

nav a:hover {
    border-bottom: 8px solid black;
    color: black;
    background-color: white;
}

/*Header*/

header {
    height: 300px;
    background-color: cadetblue;
}

/*Main*/

main {
    min-height: 50vh;
    background-color: burlywood;
}

/*Footer*/

footer {
    min-height: 100px;
    background-color: darkcyan;
}
