* {
    margin: 0;
    padding: 0;
}

div.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

/*Nawigacja*/

/*Header*/

header {
    height: 300px;
    background-color: cadetblue;
}

/*Main*/

main {
    min-height: 50vh;
    background-color: burlywood;
}

/*Footer*/

footer {
    min-height: 100px;
    background-color: darkcyan;
}
