@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin-ext');

* {
    margin: 0;
    padding: 0;
}

div.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

/*Nawigacja*/

nav {
    margin: 20px;
    text-align: right;
}

nav a {
    display: inline-block;
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: roboto, sans-serif;
    color: brown;
    padding: 10px 20px;
    margin: 0 15px;
}

a.btn4 {
    border: 2px solid brown;
    margin-left: 100px;
    margin-right: 150px;
    transition: 0.2s;
    letter-spacing: 2px;

}

nav a:hover {
    border-bottom: 2px solid brown;
}

nav a.btn4:hover {
    background: brown;
    color: white;
}

/*Header*/

header {
    height: 300px;
    background-color: cadetblue;
}

/*Main*/

main {
    min-height: 50vh;
    background-color: burlywood;
}

/*Footer*/

footer {
    min-height: 100px;
    background-color: darkcyan;
}
