* {
    margin: 0;
    padding: 0;
}

div.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

/*Nawigacja*/

nav {
    background-color: #ddd;
    /*    padding: 10px 0;*/
    text-align: right;
    padding-right: 70px;
}

nav a {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 15px;
    border: 2px solid brown;
    font-size: 20px;
    text-decoration: none;
    font-family: arial, sans-serif;
    text-transform: uppercase;
    color: brown;
    transition: 0.2s;

}

nav a:hover {
    color: white;
    background-color: brown;

}

/*Header*/

header {
    height: 300px;
    background-color: cadetblue;
}

main {
    min-height: 50vh;
    background-color: burlywood;
}

footer {
    min-height: 100px;
    background-color: darkcyan;
}
