* {
    margin: 0;
    padding: 0;
}

body {
    background-color: red;
    font-size: 40px;
}

.item2,
.item3,
.item4,
.item5 {
    display: none;
}

@media(min-width: 360px) {
    body {
        background-color: green;
    }

    .item1 {
        display: none;
    }

    .item2 {
        display: block;
    }

}

@media(min-width: 640px) {
    body {
        background-color: blue;
    }

    .item2 {
        display: none;
    }

    .item3 {
        display: block;
    }

}

@media(min-width: 1024px) {
    body {
        background-color: gray;
    }

    .item3 {
        display: none;
    }

    .item4 {
        display: block;
    }

}

@media(min-width: 1400px) {
    body {
        border: 10px solid black
    }

    .item4 {
        display: none;
    }

    .item5 {
        display: block;
    }

}
